@charset "utf-8";
/* CSS Document */

/* Styling for header */
header{
	text-align: center;
}
/* Styling for body */
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	margin: 2em;
	padding: 2em;
}
/* Styling for nav menu */
nav {
	list-style-type: none;
	text-align: center;
	display: inline-block;
	font-size: x-large;
	padding: 1em;
}

/* Styling for links */
a {
	color: #231933
}
a:visited {
	color: #270049;
}
/* Styling for unordered list */
ul li {
	list-style: circle;
}
/* Stlying for images */
img {
	border: thin;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

#firstname {
	display: inline-block;
	width: auto;
	margin: 5px;
	padding: 5px;
}

#lastname {
	display: inline-block;
	width: auto;
	margin: 5px;
	padding: 5px;
}

#email {
	display: inline-block;
	width: auto;
	margin: 5px;
	padding: 5px;
}

#message {
	display: inline-block;
	width: auto;
	margin: 5px;
	padding: 5px;
}

#submit {
	display: block;
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}