@charset "utf-8";
/* CSS Document */

body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
/* Styling for links */
a {
	color: #231933
}
a:visited {
	color: #270049;
}
/* Styling for unordered list */
ul li {
	list-style: circle;
}
/* Stlying for images */
img {
	border: thin;
	max-width: 100%;
	height: auto;
	margin: 30px
	
}

#firstname {
	display: inline-block;
	width: auto;
	margin: 5px;
	padding: 5px;
}

#lastname {
	display: inline-block;
	width: auto;
	margin: 5px;
	padding: 5px;
}

#email {
	display: inline-block;
	width: auto;
	margin: 5px;
	padding: 5px;
}

#message {
	display: inline-block;
	width: auto;
	margin: 5px;
	padding: 5px;
}

#submit {
	display: inline-block;
	width: auto;
	margin: 5px;
	padding: 5px;
}